{% extends 'base.html.twig' %}

{% block title %}Détail article{% endblock %}

{% block body %}
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between">
            {% if article.categorie is not null %}
                <a href="{{ path('app_categorie_slug', {'slug': article.categorie.slug}) }}"><span class="badge text-bg-secondary fs-5"> catégorie : {{ article.categorie.titre }}</span></a>
            {% else %}
                <a href="#"><span class="badge text-bg-secondary fs-5"> catégorie : aucune catégorie</span></a>
            {% endif %}
            <span class="badge rounded-pill text-bg-primary mb-3"> crée le : {{ article.createdAt.format('d/m/Y') }}</span>
        </div>
        <div class="card-body">
            <h5 class="card-title text-primary"> {{ article.titre }}</h5>
            <p class="card-text">{{ article.contenu }}</p>

        </div>
    </div>

    {% if article.commentaires.count >= 1 %}
        <h4 class="border border-3 rounded-4 mb-2 text-center py-2">
           Commentaire(s)
        </h4>
        <div class="row justify-content-center">
            {% for commentaire in article.commentaires %}
                <div class="col-sm-6 m-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {% if commentaire.auteur is not null %}
                                    {{ commentaire.auteur.pseudo }}
                                {% else %}
                                    Auteur anonyme
                                {% endif %}
                            </h5>
                            <p class="card-text">{{ commentaire.contenu }}</p>
                            <span class="badge rounded-pill text-bg-primary mb-3"> publié le : {{ commentaire.createdAt.format('d/m/Y') }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}